/*Animation!*/
 .puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  


.puff-out-center {
	-webkit-animation: puff-out-center .7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-center .7s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

 @-webkit-keyframes puff-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
  }
  @keyframes puff-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
  }
  
/*****************************************/
/*SCROLBAR!*/
body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.8);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(68, 172, 241);
}
/*****************************************/
body, html {
    overflow-x: hidden;
    height: 100%;
}

main
{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-container
{
  position: relative;
  margin: auto;
  width: auto; 
}

#adding {
  width: 650px;
  margin: 0;
}


.container
{
    width: 650px;
}

#add-container
{
    box-sizing: border-box;
    border: 3px solid rgb(68, 172, 241);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
    font-family: sans-serif;
    font-size: 27px;
    width: 100%;
    height: 100px;
}

#add-container-bottom
{
    display: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-bottom: 0;
    border-radius: 10px;
    border-top: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}

input
{
    color: rgba(0, 0, 0,.8)
}

i
{
    margin: auto;
    color: rgb(68, 172, 241);
    transition: all .3s;
    font-size: 35px;
}

i:hover
{
    cursor: pointer;
    transform: rotate3d(0, 0, 1, 360deg);
}

#display-content
{
    box-sizing: border-box;
    border: 3px solid rgb(68, 172, 241);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
    font-family: sans-serif;
    font-size: 27px;
    width: 100%;
    height: 100px;
    display: flex;
    overflow-x: auto;
    transition: all 1s;
}
#main-p
{
    margin: auto;
    font-family: sans-serif;
    font-size: 27px;
    display: inline;
}

#main-p:hover{text-decoration: line-through;}

#display-content::-webkit-scrollbar
{
    height: 10px;
	background-color: rgba(255,255,255,0);
}

#display-content::-webkit-scrollbar-thumb
{
	background-color: rgb(68, 172, 241);
}

/*Preloader*/
#spinner-container
{
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    display: flex;
}
.spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    margin: auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(68, 172, 241);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

@media (max-width: 576px)
{
  main {overflow-y: scroll;}
  #background {
    position: fixed !important;
  }
  #adding {
    width: 100%;
  }
  #display-content, input, #add-container {
    height: 75px;
  }
  i {
    font-size: 25px;
  }
}